NodeRed_Flow.json
[{"id":"ef017b55.185a48","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"9f4cdd22.f4787","type":"watson-conversation-v1","z":"ef017b55.185a48","name":"Assisstant","workspaceid":"dfe59824-3b92-4a9d-b64f-6350ee45a2b8","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ec4357f9-b4c0-46cd-9678-183d7306b452","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["bc95b953.c45bf8","306d261d.68a6ea"]],"l":false},{"id":"75660a2b.0b1be4","type":"function","z":"ef017b55.185a48","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["9f4cdd22.f4787","c223743d.48a088"]],"l":false},{"id":"6033c114.d2926","type":"ui_form","z":"ef017b55.185a48","name":"","label":"form","group":"f16f9f74.c9c0e","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["75660a2b.0b1be4"]],"l":false},{"id":"bc95b953.c45bf8","type":"function","z":"ef017b55.185a48","name":"F2","func":"if(msg.payload.output.error){\n msg.payload = \"please rephrase\";\n return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["fc02c705.6c6738"]],"l":false},{"id":"c223743d.48a088","type":"ui_text","z":"ef017b55.185a48","group":"f16f9f74.c9c0e","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"fc02c705.6c6738","type":"ui_text","z":"ef017b55.185a48","group":"f16f9f74.c9c0e","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"306d261d.68a6ea","type":"debug","z":"ef017b55.185a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"f16f9f74.c9c0e","type":"ui_group","z":"","name":"CHATBOT","tab":"ff6aa7c2.092f28","order":1,"disp":true,"width":13,"collapse":false},{"id":"ff6aa7c2.092f28","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]